backend:
  name: github
  repo: wmnitin/wealthyroad   # GitHub repo where your Hugo site lives
  branch: main             # Branch to commit changes

media_folder: "static/images/uploads" # Where uploaded files go
public_folder: "/images/uploads"      # URL path for images

collections:
  - name: "posts"
    label: "Posts"
    folder: "content/posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
